{% extends 'base.html' %}

{% block title %}
  Последние обновления на сайте
{% endblock %}
{% block content %}
  
  <div class="container"> 
    <h1>Последние обновления на сайте</h1>

    {% for car in cars %}
      <ul>
        <li>
          Название: {{ car.brand }} {{car.model}}
        </li>
        <li>
          Стоимость: {{ car.cost }}
        </li>
      </ul>
      
      {% if car.photos %}
        <img src="{{ car.photos.link }}" alt="Car Image">
      {% else %}
        <p>No image available</p>
      {% endif %}

      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
{% endblock %}
